<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuongGiaHuy"
        tools:targetApi="31">
        <activity
            android:name=".BaiTap19Next"
            android:exported="false" />
        <activity
            android:name=".BaiTap19"
            android:exported="false" />
        <activity
            android:name=".BaiTap18"
            android:exported="false" />
        <activity
            android:name=".BaiTap17"
            android:exported="false" />
        <activity
            android:name=".BaiTap16"
            android:exported="false" />
        <activity
            android:name=".BaiTap15"
            android:exported="false" />
        <activity
            android:name=".BaiTap14"
            android:exported="false" />
        <activity
            android:name=".BaiTap13"
            android:exported="false" />
        <activity
            android:name=".BaiTap12"
            android:exported="false" />
        <activity
            android:name=".BaiTap11"
            android:exported="false" />
        <activity
            android:name=".BaiTap10"
            android:exported="false" />
        <activity
            android:name=".BaiTap09"
            android:exported="false" />
        <activity
            android:name=".BaiTap08"
            android:exported="false" />
        <activity
            android:name=".BaiTap07"
            android:exported="false" />
        <activity
            android:name=".BaiTap06"
            android:exported="false" />
        <activity
            android:name=".BaiTap05"
            android:exported="false" />
        <activity
            android:name=".BaiTap04"
            android:exported="false" />
        <activity
            android:name=".BaiTap03"
            android:exported="false" />
        <activity
            android:name=".BaiTap02"
            android:exported="false" />
        <activity
            android:name=".BaiTap01"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>